stages:
  - deploy

deploy-job:
  stage: deploy
  image: ubuntu:latest
  script:
    - echo "Starting FTP deployment..."
    - apt-get update
    - apt-get install -y lftp
    - apt-get install -y curl jq git nodejs npm
    - npm install 
    - npm run build
    - mapfile -t FILE_LIST < <(find dist/ -type f)
    - |
      echo " "
      echo "======================================================="
      echo "Changed/added files"
      for FILE in "${FILE_LIST[@]}"; do
        echo "$FILE"
      done
      echo "======================================================="
    - |
      for FILE in "${FILE_LIST[@]}"; do
        RELATIVE_PATH=${FILE#dist/}
        echo "Uploading $FILE as $RELATIVE_PATH..."
        lftp -e "mkdir -p $(dirname $RELATIVE_PATH); put $FILE -o $RELATIVE_PATH" -u $FTP_USER,$FTP_PASSWORD $FTP_SERVER
      done
  only:
    - main