.pre {
  padding-bottom: 0;
  margin-bottom: 0;
}

.snippet-card {
  margin-bottom: 15px;
}

.snippet-card-head {
  text-align: right;
  padding-right: 0px;
  padding-top: 5px;
  padding-left: 10px;
}

.snippet-card-body {
  text-align: left;
  background-color: #f8f9fa;
}

.lang {
  font-family: 'Menlo';
  font-size: 9pt;
}

.snippet-code {
  color: #000000;
  padding-bottom: -30px;
}

.snippet-btn {
  outline: none;
  border: none;
}

.snippet-btn:focus {
  outline: none;
  border: none;
}
  