.pre {
  padding-bottom: 0;
  margin-bottom: 0;
}

.snippet-card {
  /* Big screens */
  margin-top: 25px;
  margin-bottom: 30px;
  margin-left: 30px;
  margin-right: 30px;
}

/* Small screens */
@media (max-width: 60em) {
  .snippet-card {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.snippet-card-head {
  text-align: right;
  padding-right: 0px;
  padding-top: 5px;
  padding-left: 10px;
}

.snippet-card-body {
  text-align: left;
  background-color: #f8f9fa;
  font-family: 'Menlo';
  font-size: 12pt;
}

.lang {
  font-family: 'Menlo';
  font-size: 9pt;
}

.snippet-code {
  color: #000000;
  padding-bottom: -30px;
}

.snippet-btn {
  outline: none;
  border: none;
}

.snippet-btn:focus {
  outline: none;
  border: none;
}
  