
.custom-table thead th {
  background-color: #f8f9fa !important;
  color: black !important;
  border-color: #dee2e6;
}

.custom-table tbody th {
    background-color: #f8f9fa !important;
    border-left: 0px solid #f8f9fa;
    border-top: 0px solid #f8f9fa;
    border-bottom: 0px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    color: black;
}

.custom-table {
    border: 0px solid #dee2e6;
    border-radius: 8px;
    border-collapse: separate;
    overflow: hidden; 
    border-spacing: 0;
}

.custom-table tbody tr:last-child {
    border-bottom: 0px solid white;
}

.table {
    margin-bottom: 0px;
}

/* Big screens */
.table-container {
    overflow-x: auto;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    margin-top: 25px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

/* Small screens */
@media (max-width: 60em) {
  .table-container {
    margin-left: 0px;
    margin-right: 0px;
  }
}