.tex-card {
    margin-top: 25px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

.tex-card-head {
    text-align: left;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.tex-card-body {
    display: flex;
    align-items: left;
    background-color: #f8f9fa;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    overflow-x: auto;
}

.katex-html {
    display: none;
}

math {
    font-family: 'Latin Modern Math';
    font-size: 14pt;
}